<li [ngClass]="{ editing: isEditingProps }">
  <div class="view">
    <input type="checkbox" class="toggle" [checked]="todoProps.isCompleted" (change)="toggleTod()">
    <label (dblclick)="setTodoIsEditMode()">{{todoProps.text}}</label>
    <button class="destroy" (click)="removedTodo()"></button>
  </div>
  <ng-container *ngIf="isEditingProps">
    <input #textInput type="text" class="edit" [value]="editingText" (change)="changeText($event)" (keyup.enter)="changeTodo()">
  </ng-container>
</li>
